# Required for Angular Material SCSS theming with pnpm
# Angular Material internally uses @material/* packages which need to be hoisted
# to the root node_modules for SCSS resolution to work correctly
node-linker=hoisted
